# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment Files
.env
.env.local
.env.*.local

# Build/Cache
dist/
build/
.cache/
*.tsbuildinfo

# Project Specific
.expo/
.next/
/ios
/android
/generated/prisma
