@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #000000;
}

@theme inline {
  --color-electric-sapphire: #0F62FE;
  --color-indigo-600: #6366F1;
  --color-campus-gradient: linear-gradient(135deg, #0F62FE 0%, #6366F1 100%);
  --color-slate-900: #0F172A;
  --color-slate-50: #F8FAFC;
  --color-white: #FFFFFF;
  
  --color-background: var(--background);
  --color-card: var(--color-white);
  --color-primary: var(--color-electric-sapphire);
  --color-secondary: var(--color-indigo-600);

  --font-heading: var(--font-open-sans);
  --font-body: var(--font-inter);
}

body {
  background: var(--color-background);
  color: var(--foreground);
  font-family: var(--font-body);
  @apply antialiased;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: var(--font-heading);
  @apply text-black;
}
